apiVersion: v1
kind: Service
metadata:
  name: core-service
spec:
  selector:
    app: core-service
  ports:
    - protocol: TCP
      port: 8081       
      targetPort: 8081 
      nodePort: 30001
  type: NodePort