apiVersion: v1
kind: Service
metadata:
  name: deployment-service
spec:
  selector:
    app: deployment-service
  ports:
    - protocol: TCP
      port: 80         
      targetPort: 8082 
  type: NodePort